## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Data Ppreparation

### Data loading

In [5]:
crimes_data = pd.read_csv('Data/crime.csv', encoding='latin1')
crimes_data.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_category_id,first_occurrence_date,last_occurrence_date,reported_date,incident_address,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,is_crime,is_traffic,victim_count
0,202268791,202268791299900,2999,0,criminal-mischief-other,public-disorder,2/10/2022 2:50:00 AM,NaN,2/10/2022 3:16:00 AM,1107 N SANTA FE DR,3140929.0,1692612.0,-104.998910,39.733957,1,123,lincoln-park,1,0,1
1,2021387586,2021387586299900,2999,0,criminal-mischief-other,public-disorder,7/7/2021 9:02:00 PM,NaN,7/8/2021 12:55:00 AM,815 16TH ST,3142470.0,1697098.0,-104.993342,39.746248,6,611,cbd,1,0,1
2,2020641486,2020641486299900,2999,0,criminal-mischief-other,public-disorder,10/29/2020 1:30:00 AM,NaN,10/29/2020 4:31:00 AM,4745 N FEDERAL BLVD,3133352.0,1710396.0,-105.025520,39.782888,1,111,berkeley,1,0,1
3,2018612468,2018612468299900,2999,0,criminal-mischief-other,public-disorder,9/6/2018 5:00:00 PM,9/6/2018 11:00:00 PM,9/7/2018 9:58:00 AM,65 S FEDERAL BLVD,3133534.0,1685797.0,-105.025330,39.715357,4,411,barnum,1,0,1
4,2020293614,2020293614299900,2999,0,criminal-mischief-other,public-disorder,5/8/2020 5:00:00 AM,5/8/2020 6:30:00 PM,5/13/2020 10:00:00 AM,12295 E ALBROOK DR,3184065.0,1710782.0,-104.845074,39.783082,5,521,montbello,1,0,1

In [7]:
offcode_data = pd.read_csv('Data/offense_codes.csv')
offcode_data.head()

,OBJECTID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_TYPE_NAME,OFFENSE_CATEGORY_ID,OFFENSE_CATEGORY_NAME,IS_CRIME,IS_TRAFFIC
0,1,2804,1,stolen-property-possession,Possession of stolen property,all-other-crimes,All Other Crimes,1,0
1,2,2804,2,fraud-possess-financial-device,Possession of a financial device,all-other-crimes,All Other Crimes,1,0
2,3,2901,0,damaged-prop-bus,Damaged business property,public-disorder,Public Disorder,1,0
3,4,2902,0,criminal-mischief-private,Criminal mischief to private property,public-disorder,Public Disorder,1,0
4,5,2903,0,criminal-mischief-public,Criminal mischief to public property,public-disorder,Public Disorder,1,0

In [13]:
crimes_data.describe()

,incident_id,offense_id,offense_code,offense_code_extension,geo_x,geo_y,geo_lon,geo_lat,precinct_id,is_crime,is_traffic,victim_count
count,3.868650e+05,3.868650e+05,386865.000000,386865.000000,3.713620e+05,3.713620e+05,3.710960e+05,371096.000000,386865.000000,386865.0,386865.0,386865.000000
mean,6.179303e+09,6.179303e+15,2766.705473,0.263642,3.157516e+06,1.693963e+06,-1.049429e+02,39.730607,386.199894,1.0,0.0,1.020304
std,1.335478e+10,1.335478e+16,1231.562483,0.669589,3.851640e+05,9.558331e+04,1.078909e+00,0.409652,183.818122,0.0,0.0,0.234620
min,2.019600e+04,2.019652e+10,902.000000,0.000000,1.000000e+00,1.110000e+02,-1.154641e+02,0.000000,111.000000,1.0,0.0,1.000000
25%,2.019359e+09,2.019359e+15,2304.000000,0.000000,3.140207e+06,1.683469e+06,-1.050014e+02,39.708748,222.000000,1.0,0.0,1.000000
50%,2.021482e+09,2.021482e+15,2399.000000,0.000000,3.146509e+06,1.694853e+06,-1.049790e+02,39.739995,324.000000,1.0,0.0,1.000000
75%,2.023468e+09,2.023468e+15,2999.000000,0.000000,3.165779e+06,1.702457e+06,-1.049110e+02,39.760928,523.000000,1.0,0.0,1.000000
max,2.020890e+12,2.020890e+18,7399.000000,6.000000,4.067477e+07,1.089045e+07,5.000000e-07,39.900961,999.000000,1.0,0.0,19.000000

In [9]:
crimes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386865 entries, 0 to 386864
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   incident_id             386865 non-null  int64
 1   offense_id              386865 non-null  int64
 2   offense_code            386865 non-null  int64
 3   offense_code_extension  386865 non-null  int64
 4   offense_type_id         386865 non-null  object
 5   offense_category_id     386865 non-null  object
 6   first_occurrence_date   386865 non-null  object
 7   last_occurrence_date    211309 non-null  object
 8   reported_date           386865 non-null  object
 9   incident_address        371362 non-null  object
 10  geo_x                   371362 non-null  float64
 11  geo_y                   371362 non-null  float64
 12  geo_lon                 371096 non-null  float64
 13  geo_lat                 371096 non-null  float64
 14  district_id             386808 non-null  object
 15  precinct_id             386865 non-null  int64
 16  neighborhood_id         386176 non-null  object
 17  is_crime                386865 non-null  int64
 18  is_traffic              386865 non-null  int64
 19  victim_count            386865 non-null  int64
dtypes: float64(4), int64(8), object(8)
memory usage: 59.0+ MB

In [14]:
crimes_data.columns

Index(['incident_id', 'offense_id', 'offense_code', 'offense_code_extension',
       'offense_type_id', 'offense_category_id', 'first_occurrence_date',
       'last_occurrence_date', 'reported_date', 'incident_address', 'geo_x',
       'geo_y', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id',
       'neighborhood_id', 'is_crime', 'is_traffic', 'victim_count'],
      dtype='object')

In [10]:
offcode_data.describe

<bound method NDFrame.describe of      OBJECTID  OFFENSE_CODE  OFFENSE_CODE_EXTENSION  \
0           1          2804                       1
1           2          2804                       2
2           3          2901                       0
3           4          2902                       0
4           5          2903                       0
..        ...           ...                     ...
295       296          2799                       0
296       297          2801                       0
297       298          2803                       0
298       299          2804                       0
299       300          1315                       6

                    OFFENSE_TYPE_ID  \
0        stolen-property-possession
1    fraud-possess-financial-device
2                  damaged-prop-bus
3         criminal-mischief-private
4          criminal-mischief-public
..                              ...
295                  theft-embezzle
296         stolen-property-sale-of
297    stolen-property-buy-sell-rec
298     outside-steal-recovered-veh
299                  agg-aslt-shoot

                                     OFFENSE_TYPE_NAME OFFENSE_CATEGORY_ID  \
0                        Possession of stolen property    all-other-crimes
1                     Possession of a financial device    all-other-crimes
2                            Damaged business property     public-disorder
3                Criminal mischief to private property     public-disorder
4                 Criminal mischief to public property     public-disorder
..                                                 ...                 ...
295                        Embezzlement by an employee  white-collar-crime
296                            Sale of stolen property    all-other-crimes
297               Buy, sell or receive stolen property    all-other-crimes
298            Recovered vehicle stolen outside Denver    all-other-crimes
299  Assault causing serious bodily injury involvin...  aggravated-assault

    OFFENSE_CATEGORY_NAME  IS_CRIME  IS_TRAFFIC
0        All Other Crimes         1           0
1        All Other Crimes         1           0
2         Public Disorder         1           0
3         Public Disorder         1           0
4         Public Disorder         1           0
..                    ...       ...         ...
295    White Collar Crime         1           0
296      All Other Crimes         1           0
297      All Other Crimes         1           0
298      All Other Crimes         1           0
299    Aggravated Assault         1           0

[300 rows x 9 columns]>

In [11]:
offcode_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OBJECTID                300 non-null    int64
 1   OFFENSE_CODE            300 non-null    int64
 2   OFFENSE_CODE_EXTENSION  300 non-null    int64
 3   OFFENSE_TYPE_ID         300 non-null    object
 4   OFFENSE_TYPE_NAME       300 non-null    object
 5   OFFENSE_CATEGORY_ID     300 non-null    object
 6   OFFENSE_CATEGORY_NAME   300 non-null    object
 7   IS_CRIME                300 non-null    int64
 8   IS_TRAFFIC              300 non-null    int64
dtypes: int64(5), object(4)
memory usage: 21.2+ KB

In [12]:
offcode_data.columns

Index(['OBJECTID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION', 'OFFENSE_TYPE_ID',
       'OFFENSE_TYPE_NAME', 'OFFENSE_CATEGORY_ID', 'OFFENSE_CATEGORY_NAME',
       'IS_CRIME', 'IS_TRAFFIC'],
      dtype='object')

## Data Preprocessing

### Data Cleaning

- We start with crimes_data

In [22]:
crimes_data.isna().sum()

incident_id                    0
offense_id                     0
offense_code                   0
offense_code_extension         0
offense_type_id                0
offense_category_id            0
first_occurrence_date          0
last_occurrence_date      175556
reported_date                  0
incident_address           15503
geo_x                      15503
geo_y                      15503
geo_lon                    15769
geo_lat                    15769
district_id                   57
precinct_id                    0
neighborhood_id              689
is_crime                       0
is_traffic                     0
victim_count                   0
dtype: int64

In [23]:
# a more interpretable version
def missing_values(data):
    # identify the total missing values per column
    # sort in order
    miss = data.isnull().sum().sort_values(ascending = False)

    # calculate percentage of the missing values
    percentage_miss = (data.isnull().sum() / len(data)).sort_values(ascending = False)

    # store in a dataframe
    missing = pd.DataFrame({"Missing Values": miss, "Percentage": percentage_miss}).reset_index()

    # remove values that are missing
    missing.drop(missing[missing["Percentage"] == 0].index, inplace = True)

    return missing

In [24]:
missing_data = missing_values(crimes_data)
missing_data

                  index  Missing Values  Percentage
0  last_occurrence_date          175556    0.453791
1               geo_lat           15769    0.040761
2               geo_lon           15769    0.040761
3                 geo_x           15503    0.040073
4                 geo_y           15503    0.040073
5      incident_address           15503    0.040073
6       neighborhood_id             689    0.001781
7           district_id              57    0.000147

In [25]:
missing_data = missing_values(offcode_data)
missing_data

Empty DataFrame
Columns: [index, Missing Values, Percentage]
Index: []

**No missing values in the offense codes data**